<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Warhammer Miniatures Management Application</title>
</head>
<body>
<div align="center">
    <h1>Miniatures</h1>
    <a href="/new">Enter New Miniature</a>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Faction</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="miniature : ${miniaturesList}">
            <td th:text="${miniature.id}">ID</td>
            <td th:text="${miniature.name}">Name</td>
            <td th:text="${miniature.faction?.name}">Faction</td>
            <td>
                <a th:href="@{/edit/{id}(id=${miniature.id})}">Edit</a>
                &nbsp;&nbsp;&nbsp;
                <a th:href="@{/delete/{id}(id=${miniature.id})}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>